<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Estudios adicionales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuáles son mis cursos adicionales?</ion-card-subtitle>
        <ion-card-title>Cursos Adicionales Sixto Mora</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Curso:</b>Nado en mar abierto - <br>
        <b>Lugar:</b>salvataje infanteria de marina<br><br>
        <b>Curso:</b>Manejo de armas y prevencion de riesgos<br>
        <b>Lugar:</b>Cencap<br><br>
      </ion-card-content>
    </ion-card>
  </ion-content>
