<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Referencias Laborales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuáles son mis referencias laborales?</ion-card-subtitle>
        <ion-card-title>Referencias laborales Sixto Mora</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Nombre:</b> DONALD TRUMP<br>
        <b>Teléfono:</b> (SENSURADO)<br><br>
        <b>Nombre:</b> BLADIMIR PUTIN<br>
        <b>Teléfono:</b> SENSURADO<br><br>
        
      </ion-card-content>
    </ion-card>
  </ion-content>
