<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Educación Académica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuál es mi formación académica?</ion-card-subtitle>
        <ion-card-title>Educación Académica SIXTO MORA </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Primaria:</b> Escuela Fiscal Mixta "5 DE JUNIO"<br>
        <b>Secundaria:</b> Colegio FISCAl Vicente Rocafuerte"<br>
        <b>Título obtenido:</b> Bachiller GENERAL UNIFICADO EN CIENCIAS<br>
        <b>Universidad:</b> Universidad de Guayaquil<br>
        <b>Facultad:</b> Facultad de Ingeniería Industrial<br>
        <b>Carrera:</b> Ingeniería en Sistemas de Información<br>
        <b>Nivel:</b> 6to Semestre<br>
      </ion-card-content>
    </ion-card>
  </ion-content>

  