<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Experiencias Laborales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuál es mi experiencia laboral?</ion-card-subtitle>
        <ion-card-title>Experiencia Laboral Sixto Mora</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Empresa:</b>LA NASA"<br>
        <b>Cargo:</b>INVESTIGADOR DE VIDA ALIEN EN MARTE<br>
        <b>Tiempo:</b> 3 años<br><br>
        <b>Empresa:</b> Springfield<br>
        <b>Cargo:</b> Administrador de planta nuclear<br>
        <b>Tiempo:</b> 3 meses<br><br>
        <b>Empresa:</b> CNT<br>
        <b>Cargo:</b> Soporte técnico - Atención al cliente<br>
        <b>Tiempo:</b> 3 años<br><br>
        <b>Empresa:</b> DIREC-TV<br>
        <b>Cargo:</b> Operador de Bodega<br>
        <b>Tiempo:</b> 1 año<br><br>
      </ion-card-content>
    </ion-card>
  </ion-content>