<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>datos personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuáles son mis datos personales?</ion-card-subtitle>
        <ion-card-title>Datos personales Sixto Mora</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Nombre:</b> SIXTO ALIPIO MORA CORREA<br>
        <b>Lugar de nacimiento:</b> Guayaquil, Guayas<br>
        <b>Fecha de nacimiento:</b> 11 de marzo de 1997<br>
        <b>Edad:</b> 23 años<br>
        <b>Estado civil:</b> Soltero<br>
        <b>Dirección:</b> CDLA. JUAN MONTALVO<br>
        <b>Cédula de identidad:</b> 0931050249 <br>
        <b>Teléfono:</b>0986641798 <br>


      </ion-card-content>
    </ion-card>
  </ion-content>
